/* @import '../../App.css'; */

.foodcard--container {
  background-color: rgba(243, 249, 245, 0.473);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5em;
  text-align: center;
  padding: 2em;
  margin-bottom: 2em;
}

.singlecard-container {
  min-height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em 1em;
  background-color: #a52a2a45;
  box-shadow: 0px 3px 32px 1px #4b444496;
}

.food-img {
  width: 100%;
  max-height: 250px;
}

.foodcard-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.food-name {
  font-size: 18px;
  color: #350101;
  border-bottom: 1px solid rgb(44, 42, 42);
}

.food-price {
  font-size: 14px;
}

.food-description {
  font-size: 12px;
  color: #180101;
  width: 200px;
  text-wrap: balance;
}

.cart-interaction {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.add-button,
.minus-button {
  background: linear-gradient(to bottom, #fff, #d3d1c1);
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.addcart-button {
  background: var(--clr-secondary);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  opacity: 0.9;
  font-weight: bold;
}

.disabled {
  background: linear-gradient(to bottom, #369322, #369322);
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  opacity: 0.6;
}

.addcart-button:hover {
  opacity:1;
}

@media screen and (max-width: 668px) {
  .cart-interaction {
    flex-direction: column;
  }
  .foodcard--container {
    flex-direction: column;
    padding: 1em;
  }
  .addcart-button:hover {
    opacity:9;
  }
}
