.cart-button {
  background-color:#c7c1b9;
  color: #000;
  display: flex;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  cursor: pointer;
  opacity: 0.9;
}

.cart-button:hover {
  opacity: 1;
}

.cart-button.has-products {
  background-color: brown;
  color: #fff;
}

.cart-button.has-products .product-count {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  color: red;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 896px) {

  .cart-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none; /* Hide the button by default */
      background-color: #c7c1b9;
      color: #000;
      border: none;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      font-size: 20px;
      cursor: pointer;
      z-index: 10;
      opacity: 1;
    }
  
    .cart-button.has-products {
      background-color: brown;
      color: #fff;
    }
  
    .cart-button.has-products .product-count {
      position: absolute;
      top: -10px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background-color: #fff;
      color: red;
      border-radius: 50%;
      font-size: 12px;
      font-weight: bold;
    }
     .cart-button {
        display: flex; /* Show the button on mobile devices */
      }
    }
  