.menu-section{
    background-color: #e7e0d7;
    font-family: var(--ff-family);
}

.menu-header {
    text-align: center;
    font-size: 2.5em;
    padding: 1em 0;
}
.menu-paragraph {
    color: #453b3b;
    text-align: center;
    font-size: 1em;
    font-family: 'Poppins';
    padding: 1em 1em;
}

.menu-container {
    padding: 2em;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 376px) {
    .menu-header  {
      font-size: 1.7em;
      padding-left: 0;
      padding-right: 0;
    }

    
  }