@import "../../App.css";

header {
    background-color: transparent;
    padding-top: 2em;
    font-family: 'Poppins', sans-serif;
    font-size: var(--ff-size-m)

}

.bg-active {
    background-color: #b65b4f;
    height: 100vh;
}
nav {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vegan-logo {
    width: 100px;
    background-color: #841607b7;
    border-radius: 35% 30%;
}

ul {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: 700;
}

li {
    padding: 0 2em 0 2em;

}

li:hover {
    color: #f4ead1;
    background-color: #841507;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}


@media screen and (max-width: 420px) {
    .vegan-logo{
        width: 80px;
        margin-left: 2em;
    }
}

@media screen and (min-width: 760px) {
    .nav-btn {
        display: none;
    }
}
@media screen and (max-width: 759px) {
    .nav-menu {
        display: none;
    }

    .nav-bar {
        justify-content: space-between;
    }
    
    .nav-menu.active {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 1em;
        padding-bottom: 1em;
    }

    .nav-btn {
        background-color: transparent;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        cursor: pointer;
        margin-right: 1em;
    }

    .nav-close-btn {
        margin-bottom: 5em;
    }
}