/* @import "../../App.css"; */

header {
  background: rgb(205 203 142 / 66%);
  font-family: "Poppins", sans-serif;
  font-size: var(--ff-size-m);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 11px rgb(10 1 1);
  padding: 10px;
  position: fixed;
  z-index: 5;
}


@media screen and (max-width: 640px) {
  header {
    position:initial;

  }
}
