/* @import "../../App.css"; */

header {
  background: rgb(205 203 142 / 66%);
  font-family: "Poppins", sans-serif;
  font-size: var(--ff-size-m);
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.vegan-logo {
  width: 100px;
  border-radius: 35% 30%;
}

ul {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 700;
}

.navbar-link {
  padding: 0 2em 0 2em;
}

.navbar-item {
  border-bottom: 1px solid #1b1717;
  width: 100%;
  margin: 0 0.5em
}

.navbar-item:hover {
  opacity: .9;
  margin: 0 1em;
}

.navbar-item:hover {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #f4ead1;
  background-color: #841507;
}


@media screen and (min-width: 760px) {
  .nav-btn {
    display: none;
  }
}
@media screen and (max-width: 759px) {


  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .vegan-logo {
    width: 40px;
  }
  .nav-menu {
    display: none;
  }

  .vegan-logo {
    margin-left: 2em;
  }

  .nav-bar {
    justify-content: space-between;
  }

  .nav-menu.active {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5em;
    padding-bottom: 1em;
    font-size: 1em;
    width: 75%;
    text-align: center;
  }

  .nav-btn {
    background-color: transparent;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    cursor: pointer;
    margin-right: 1em;
  }

  .nav-close-btn {
    align-self: flex-end;
    margin: 0
  }

  .nav-bar-open {
    background-color: rgba(205, 203, 142, 0.795);
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    transition: all .45s ease-in;
    width: 75%;
    z-index: 1;
    gap: 5em;
    
  }

  .navbar-item:hover {
    margin: 0;
  }
}
