/* @import "../../App.css"; */
nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  font-size: 1.1npem;
  font-weight: 700;
}

.navbar-link {
  padding: 0 1.5em 0 1.5em;
  transition: .5s ease;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 5px;
}

.navbar-item {
  width: 100%;
  margin: 0 0.5em;

}

.navbar-item:hover {
  opacity: 0.9;
  margin: 0 1em;
}

.navbar-link:hover {
  color: #f4ead1;
  background-color: #841507;
  
}
@media screen and (max-width: 896px) {
  ul {
    font-size: 0.9em;
  }

  .navbar-link {
    padding: 0 1em 0 1em;
  }
  .nav-btn {
    color: #232323;
    background-color: transparent;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  .nav-close-btn {
    align-self: flex-end;
    margin: 0;
  }
  .nav-bar-open {
    background-color: rgb(205 203 142 / 90%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.45s;
    width: 75%;
    z-index: 1;
    overflow: scroll;
}
  }

  .closed {
    transition: transform 0.3s ease;
  }
  .navbar-item:hover {
    margin: 0;
    background-color: transparent;
  }

