.daily-section{
    background-image: url('../../assets/dailyb.svg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--ff-family);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4em;
  }

  .daily-header {
    text-align: center;
    font-size: 2.5em;
    padding: 2em 0 2em 0;
  }

  .cards-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding:0 2em 0 2em;
    text-align: center;
    max-width: 700px;
  }

  @media screen and (max-width: 420px) {
    .daily-header {
      font-size: 1.7em;
      padding: 1em 0;
    }
    .daily-section {
      background-image: url('../../assets/dailymobile.svg');
    }

  }