@import '../../App.css';

.foodcard--container {
    background-color: rgba(243, 249, 245, 0.473);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
    font-family: 'Poppins';
    text-align: center;
    padding: 2em;
    max-width: 920px;
    margin-bottom: 2em;
}

.singlecard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

.food-img {
    width: 180px;
}

.cart-interaction {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.add-button, .minus-button {
    /* background-color: var(--clr-quaternary);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer; */
    background: linear-gradient(to bottom, var(--bg-light), var(--clr-quaternary));
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}