/* @import '../../App.css'; */

.foodcard--container {
  background-color: rgba(243, 249, 245, 0.473);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5em;
  font-family: "Poppins";
  text-align: center;
  padding: 2em;
  margin-bottom: 2em;
}

.singlecard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  padding: 1em 1em;
  background-color: #a52a2a45;

}

.food-img {
  width: 100%;
  max-height: 250px;
}

.foodcard-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.cart-interaction {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.add-button,
.minus-button {
  background: linear-gradient(to bottom, #fff, #d3d1c1);
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

@media screen and (max-width: 668px) {
  .cart-interaction {
    flex-direction: column;
  }
  .foodcard--container {
    flex-direction: column;
  }
}
