.options--container {
        background-color: transparent;
        display: flex;
        flex-flow: row wrap;     
        justify-content: space-evenly;
        align-items: center;
        gap: 2em;
        font-family: 'Poppins';
        text-align: center;
        padding: 1em;
        margin: 2em;
}

.option--img {
    width: 100px;
}

.logo--container {
    padding: 10px;
    max-width: 649px;

}

.logo--container:hover {
    background-color: #841507;
    border-top-right-radius: 30px;
    border-top-left-radius: 5px;

}

@media screen and (max-width: 376px) {
    .options--container {
        margin: 0;
    }
}