.options--container {
        background-color: transparent;
        gap: 2em;
        font-family: 'Poppins';
        text-align: center;
        padding: 1em;
}

.option--img {
    background-color: #b22619;
    border-radius: 10%;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    opacity: 0.9;
}
.option--img:hover {
    opacity: 1;
}

.logo--container {
    padding: 10px;
    }

@media screen and (max-width: 666px) {
    .options--container {
        margin: 0;
    }
    .option--img {
        opacity: 1;
    }
    
}