@import "../../App.css";


footer {
    background-image: url('../../assets/footerbg.svg');
    max-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer--container {
    background-color: #e2c794b8;
    border-radius: 10%;
    margin: 2em 0 2em 0;
    padding: 2em 0 2em 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}
.footer-header {
    font-family: 'Roboto';
    font-size: 2em;
    padding: 1em 0.5em 0.5em 0.5em;
    text-wrap: balance;
      
}


.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-form input[type="text"] {
    font-family: 'Roboto';
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 250px;
  }
  
  .footer-form button[type="submit"] {
    background-color: #841507;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .footer-form button[type="submit"]:hover {
    background-color: #6c1005;
  }
  
  .footer-form input[type="text"]::placeholder {
    color: #927f5dc4;
  }
  

.social-media-icons {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
}

.copyright {
   padding: 1em 0 0.5em 0; 
}

@media screen and (max-width: 376px) {

    .footer--container {
        margin: 2em 0 2em 0;
        padding: 2em 0 2em 0;
    }
    .footer-header {
        font-size: 1.2em;
    }

    .footer-form {
      flex-flow: column wrap;
      gap: 1em;
    }
    .footer-form button[type="submit"] {
      width: 100%;
      margin: 0;
    }
}