/* @import "../../App.css"; */

header {
  background: #dbd5cab8;
  font-size: var(--ff-size-m);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 11px rgb(10 1 1);
  padding: 10px;
  position: fixed;
  z-index: 5;
}


@media screen and (max-width: 896px) {
  header {
    position:fixed;

  }
}
