/******************************************
/* BASE STYLES
/*******************************************/
.sidebar-title {
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 1px;

}

/******************************************
/* LAYOUT
/*******************************************/

.aside-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    gap: 2em;
    position: absolute;
    right: -600px;
    transition: 0.45s;
}

.active {
    right: 0px;
}

.sidebar-categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 150px;
    justify-content: space-evenly;
}

.aside-item {
    width: 50%;
    border-bottom: 1px solid black;
}

.aside-header {
    color: #541301;
}

.sidebar-btn-explore {
    width: 100%;
    background-color: #541301;
    padding: 1em 1.5em;
    border-radius: 50px;
    text-shadow: none;
    opacity: 0.95;
    position: relative;
    overflow: hidden;
    color: #ebdfac;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 2em 1em -1em;
    text-transform: uppercase;
    font-weight: bold;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.sidebar-title.decorated::after {
    margin-inline: 0;
    width: 2rem;
    height: 0.25rem;
}

/******************************************
/* MEDIA QUERY
/*******************************************/
@media (max-width: 73rem) {
    .sidebar-container,
    .sidebar-container.active {
        display: flex;
        position: fixed;
        width: 75%;
        height: 100vh;
        z-index: 1;
        top: 0;
        padding-top: 6rem;
        padding-left: 1.5rem;
        transition: 450ms;
    }

    .sidebar-btn-explore {
        font-size: 0.7em;
    }

}