.dailycard-header {
    font-size: 1.5em;
    padding: 1em;
}

.dailycard-price {
    font-size: 1.2em;
    padding: 0 1em;
    text-wrap: balance;
    text-align: center;
}

.dailycard-paragraph {
    color: rgb(51, 47, 47);
    font-size: 1em;
    padding: 1em;
    text-align: center;
    text-wrap: balance;
}