/* Custom properties */
:root {
  --bg-light: #DAAF54;
  --clr-primary: #205833;
  --clr-secondary: #006617;
  --clr-tertiary: #369322;
  --clr-quaternary: #7A1939;
  --ff-family: 'Roboto', sans-serif;
  --ff-family-sec: 'Poppins', sans-serif;
  --ff-size-sm: 0.8em;
  --ff-size-m: 1.2em;
  --ff-size-l: 1.5em;
}


html {
  scroll-behavior: smooth;
  font-display: optional
}
/* Box Model Hack */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Clear fix hack */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clear {
clear: both;
}

body {
  background-image: url('https://res.cloudinary.com/dd8ikgzov/image/upload/w_1920,h_1080/v1687280096/Vegan-Paradise/pizzzabg_w5cvmo.webp');
  background-position: right;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #333;
}

@media screen and (max-width: 480px) {
  body {
    background-position: left;
  }

}

/******************************************
/* BASE STYLES
/*******************************************/

h1, h2 {
  font-family: var(--ff-family-sec);
  font-weight: 600;
  line-height: 1;
  font-size: 2em;
}

h3 {
  font-size: 1,6em;
  font-family: var(--ff-family);
  color: var(--clr-primary);
}


a {
  text-decoration: none;
  color: inherit;
  font-family: var(--ff-family);
}

li, a, .product-image {
  list-style: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

img {
max-width: 100%
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.modal-close {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}