.process-container {
    padding-bottom: 6em;
    text-align: center;
}
.process-item {
    background-image: url('https://res.cloudinary.com/dd8ikgzov/image/upload/v1689435186/Vegan-Paradise/bg2_uylnvt.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.process-img {
    width: 180px;
    height: 200px;
}

.process-description {
    color: #453b3b;
    padding: 1em;
    text-wrap: balance;
}

.slick-slide img {
    display: initial !important;
}

.slick-arrow {
   display:none !important;
}

.slick-dots {
    bottom: -45px !important;
}

@media screen and (max-width: 376px) {
    .process-container {
        text-align: center;

    }
}
