.process-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
}
.process-elements-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1em;
}
.process-text-elements {
  max-width: 250px;
  font-size: 0.8em;
}
.process-number {
  color: #541301;
  font-size: 4em;
}
.process-header {
  padding-bottom: 1em;
}
.process-description {
  color: #541301;
  font-size: 1.2em;
}

.process-description {
  color: #453b3b;
  text-wrap: balance;
}

.slick-slide img {
  display: initial !important;
}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  bottom: -45px !important;
}

@media screen and (max-width: 376px) {
  .process-container {
    text-align: center;
  }
}

