.service-section {
  background-color: #e7e0d7;
  padding: 1em;
}

.service-header {
  text-align: center;
  font-size: 4em;
  padding-top: 1.2em;
}

.service-text {
  font-size: 1em ;
  color: #541301;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;

}
.service-header-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 896px) {
  .service-header {
    font-size: 2.7em;
    padding-top: 2em;
  }

  .service-section {
    background-color: #e7e0d7;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
