/* @import "../../App.css"; */


.card-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 700px;
  line-height: 1.5em;
  text-align: center;
  background-color: rgb(205 203 142 / 66%);
  box-shadow: 5px 5px 11px rgb(67 11 11 / 82%);
  padding: 20px;
}

.card-header {
  color: #541301;
  font-size: 4.5em;
  line-height: 1.2em;
  padding: .5em 0 0.5em 0;
}

.card-paragraph {
  font-size: 1.2em;
  padding: 1em 0 1em 0;
  line-height: 2em;
}

.btn-explore {
  font-family: 'Poppins';
  background-color: #541301;
  font-size: 1.2em;
  padding: 1em 2em 1em 2em;
  border-radius: 50px;
  text-shadow: none;
  opacity: 0.95;
  position: relative;
  overflow: hidden;
  color: #ebdfac;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 1em;
  margin-top: 1em;
}

.btn-explore:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #5a0f06;
  transition: 0.3s;
  z-index: -1;
}

.btn-explore:hover:before {
  left: 0;
}


@media screen and (max-width: 1217px) {
  .card-container {
      text-align: center;
      margin: 6.5em 1em 5em 1em;
      text-wrap: balance;
  }
}

@media screen and (max-width: 480px) {
  .card-header {
    font-size: 2.5em;
  }
  .card-paragraph, .btn-explore {
    font-size: 1em;
  }

}