@import "../../App.css";

main {
    background-image: url('../../assets/backgroound.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: var(--ff-family);
  }
