/* @import "../../App.css"; */

main {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url('https://res.cloudinary.com/dd8ikgzov/image/upload/w_1920,h_1080/v1687280096/Vegan-Paradise/pizzzabg_w5cvmo.webp');
  background-position: right;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 666px) {
  main {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .card-paragraph {
    font-size: 1em;
  }
}
