/* @import "../../App.css"; */

main {
  height: 100vh;
  font-family: var(--ff-family);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 666px) {
  main {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .card-paragraph {
    font-size: 1em;
  }
}
